@CHARSET "UTF-8";

form {
	background: rgb(234, 226, 292);
	border:2px solid rgb(200,200,200);
	box-shadow:0px 0px 4px 2px grey;
	border-radius:5px;
	margin: 0 auto;
	width:250px;
	margin-top:1%;
}

.field{
	margin: 10px 40px;
	border:1px solid rgb(200,200,200);
    border-radius:2px;
}

.wrap-message {
	position: relative;
	height: 62px;
	margin-top:7%;
}

#message{
	background:rgb(235,103,98);
	position:relative;
    margin: 0 auto;
	width:250px;
	border:1px solid rgb(255,0,0);
	box-shadow:0px 0px 2px 1px rgb(255,0,0);
	border-radius:5px;
	display:none;
}

#text{
	
	display:none;
	font-size:0.9em;
	margin-left: 35px;
}

#title{
	margin:30px;
}

#submit{
	margin: 8px 0px 20px 40px;
	border:1px solid rgb(200,200,200);
    border-radius:2px;
}

