@CHARSET "UTF-8";

table {
	border-collapse: collapse;
	width: 100%;
	table-layout: auto;
	background: rgb(234, 226, 292);
}

th {
	padding: 7px;
	font-size: 1.1em;
	border: 1px black solid;
}

td {
	padding: 7px;
	border: 1px black solid;
}